/*
این بلاک یک عکس پس‌زمینه برای صفحه مشخص می‌کند. همچنین ارتفاع قسمت Body را به اندازه‌ی کل صفحه قرار می‌دهد.
در نهایت از  flex برای چینش المان‌های Body استفاده می‌کند تا آن‌ها را در مرکز صفحه قرار می‌دهد.
یک فونت هم برای تمامی متن‌های صفحه مشخص می‌کند.
*/
body {
    background: url("../img/bg.jpg") no-repeat center / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'AppleGothic',  'Tahoma';
}

/*
این container برای چینش المان‌های اصلی صفحه استفاده می‌شود.
این المان‌ها شامل باکس اطلاعات کاربر، باکس جستجوی کاربر و باکس اعلان‌ها می‌باشد.
برای چینش این سه باکس، از grid استفاده می‌کنیم.
دو ستون در نظر می‌گیریم که 70% مختص ستون اول (اطلاعات کاربر) و 30% مختص ستون دوم (جستجو) می‌باشد.
بین المان‌های gird هم 10px فاصله می‌گذاریم.
*/
.container {
    min-width: 500px;
    max-width: 1400px;
    width: 60%;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
}

/*
این بلاک یک استایل کلی به تمام باکس‌های صفحه می‌دهد.
این استایل کلی شامل گذاشتن حاشیه‌های گرد، لایه‌گذاری و قرار دادن آیتم‌ها در وسط می‌باشد.
*/
.box {
    background-color: rgba(255, 255, 255, 0.9);
    /*box-shadow: 0 0 50px rgba(255, 255, 255, 0.4);*/
    border-radius: 10px;
    padding: 30px;
    align-items: center;
    justify-items: center;
}

/*
این بلاک استایل اولیه‌ی باکس اعلان‌ها را مشخص می‌کند.
اعلان‌ها می‌تواند یک پیام (مثلاً برای مطلع کردن کاربر از کش شدن اطلاعات) یا یک خطا باشد.
این بلاک باعث می‌شود تا اعلان‌ها در سطر اول grid هر دو ستون  را گرفته، لایه‌گذاری انجام داده و رنگ متن را سفید می‌کند.
*/
.notif {
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 20px;
    color: white;
}

/*
این بلاک رنگ پس‌زمینه‌ی باکس پیام‌ها را آبی می‌کند.
*/
.messageNotif {
    background-color: rgba(0, 107, 179, 0.5);

}

/*
این بلاک رنگ پس‌زمینه‌ی باکس خطاها را قرمز می‌کند.
*/
.errorNotif {
    /*background-color: rgba(255, 0, 0, 0.5);*/
    background-color: rgba(255, 20, 0, 0.5);
}

/*
این بلاک یک grid درون باکس اطلاعات یوزر می‌سازد.
این grid برای چینش المان‌های اطلاعات کاربر، اعم از عکس، نام، آدرس بلاگ، لوکیشن، زبان مورد علاقه و بیو استفاده می‌شود.
*/
.userInfo {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4px;
}

/*
این بلاک متن تمام المان‌های فرزند userInfo را در مرکز قرار می‌دهد.
*/
.userInfo > * {
    text-align: center;
}

/*
این بلاک رنگ لینک‌ها را به طور پیش‌فرض بنفش قرار می‌دهد، تا به لحاظ بصری با رنگ قسمت جستجو همخوانی داشته باشد.
*/
a {
    color: rebeccapurple;
}

/*
این بلاک عکس پروفایل را به صورت دایره‌ای در می‌آورد، و آن را به ابعادی با عرض 160px می‌رساند.
*/
.avatar {
    width: 160px;
    height: auto;

    border-radius: 75px;
}

/*
این بلاک رنگ پس‌زمینه‌ی قسمت جستجو را بنفش می‌کند.
*/
.userSearch {
    background-color: rebeccapurple;
}

/*
این بلاک برای هم‌اندازه کردن فیلد input و دکمه‌ی submit استفاده می‌شود.
*/
input {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid gray;
}

/*
این بلاک متن فیلد جستجو را در مرکز قرار داده،
و فاصله‌ی آن را با المان پایینی 5px گذاشته، و عرض آن را تمام عرض قابل اختیار قرار داده است.
*/
.newUser__username {
    width: 100%;
    margin-bottom: 5px;
    height: 30px;
    text-align: center;
}

/*
این بلاک ارتفاع دکمه‌ی submit را 30px قرار داده، و عرض آن را تمام عرض قابل اختیار گذاشته.
*/
.newUser__submit {
    width: 100%;
    height: 30px;
}